@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

:root{
  --primary-color: bisque;
  --button-hover: blanchedalmond
}

body{
  font-family: 'Dancing Script', cursive;
  /* background-size:contain; */
  margin: 0;
  
}

textarea{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  margin-top: 2rem;
  font-family: inherit;
  height: 15vh;
  width: 60%;
  font-size: 2rem;
}
textarea:focus{
  border: 0;
}

.heading{
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  background-color: var(--primary-color);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  
}

.footer{
  position: absolute;
  /* width: 100%; */
  bottom: 0;
    left: 0;
    right: 0;
  /* margin: 0.5rem; */
  background-color: var(--primary-color);
  padding: 2rem 0rem;
  text-align: center;
  color: black;
  font-size: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

#the-button{
  font-family: inherit;
  background-color:  var(--primary-color);
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  margin-left: 45%;
  margin-top: 2rem;
  font-size: larger;
}

#the-button:hover{
  background-color: var(--button-hover);
}